<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Wake-Over-Lan Interface</title>
	<script>
		document.addEventListener('DOMContentLoaded', e =>
			Array.from(document.querySelectorAll('.netstat'))
			.forEach(td => fetch(`/netstat.php?ID=${td.dataset.id}`)
			.then(response => response.text())
			.then(status => td.innerHTML = status)
		))
	</script>
	<style>
		body { font-family: sans-serif; }
		span.offline { color: red; }
		span.online  { color: green; }
		a { 
			border: 2px outset ButtonFace;
			color: black;
			padding: 1px 2px;
			background: ButtonFace;
			border-radius: 1px;
			text-decoration: none;
		}
		td { border: 3px solid white; }
	</style>
</head>
<body>
	<h1>Wake-Over-Lan Interface</h1>
	<table>
		<tr>
			<th>User</th>
			<th>Network Status</th>
			<th>Action</th>
		</tr>
		{{range $id, $ele := .}}
		<tr title="{{$ele.Text}}">
			<td>{{$ele.Name}}</td>
			<td class="netstat" data-id="{{$id}}">unknown</td>
			<td><a href="/wake_up.php?ID={{$id}}">Wake Up!</a></td>
		</tr>{{end}}
	</table>
</body>
</html>